 <template>
 	<div>
 		<select :id="id" :class="className">
 			<option value="" disabled selected v-if="!selectedVal">{{ defaultOption }}</option>
 			<option value="" disabled v-else>{{ defaultOption }}</option>
 			<template v-for="option in options">
 				<option :value="option.value" selected v-if="selectedVal == option.value">{{ option.name }}</option>
 				<option :value="option.value" v-else>{{ option.name }}</option>
 			</template>
 		</select>
 		<label>{{ label }}</label>
 	</div>
 </template>

 <script>
 export default {
 	props: ['className', 'selectedVal', 'options', 'label', 'defaultOption', 'emit'],

 	data() {
 		return {
 			id: this.get_random_id(),
 		}
 	},

 	mounted() {
 		var emit_id = this.emit;
 		$('#' + this.id).on('change', function() {
 			Event.fire(emit_id, $(this).val())
 		});
 		$('#' + this.id).material_select();
 	},

 	methods: {
 		get_random_id() {
 			return Math.floor((1 + Math.random()) * 0x1000000000).toString(32)
 		},
 	},

 	watch: {
 		selectedVal: function() {
 			$('#' + this.id).val(this.selectedVal);
 		},

 		options() {
 			this.$nextTick(() => $(`#${this.id}`).material_select());
 		}
 	}
 }
 </script>
