<template>
	<a :id="id" :href="href" :data-position="position" :data-tooltip="tooltip" @click="clicked" >
		<i class="material-icons greenClickIcon" v-if="!loading">{{ icon }}</i>
		<div class="preloader-wrapper for-button active" v-else>
			<div class="spinner-layer spinner-green-only">
				<div class="circle-clipper left">
					<div class="circle"></div>
				</div>
				<div class="gap-patch">
					<div class="circle"></div>
				</div>
				<div class="circle-clipper right">
					<div class="circle"></div>
				</div>
			</div>
		</div>
	</a>
</template>
<script>
export default {
	props: ['action', 'tooltip', 'delay', 'position', 'href', 'icon', 'loadable', 'listen'],

	data() {
		return {
			loading: false,
			id: this.get_random_id()
		}
	},

	mounted() {
		if(this.tooltip && this.tooltip !== '') {
			$('#' + this.id).tooltip({delay: 50});
		}

		if(this.listen) {
			Event.listen(this.listen, () => {
				this.loading = false;
				$('#' + this.id).tooltip({delay: 50});
			});
		}
	},

	methods: {
		clicked() {
			if(this.action && !this.loading) {
				if(this.loadable) {
					this.loading = true;
					$('#' + this.id).tooltip('destroy');
				}

				this.action();
			}
		},

		get_random_id() {
			return Math.floor((1 + Math.random()) * 0x1000000000).toString(32)
		},
	},
}
</script>
