<template>
	<a :id="id" :data-position="position" :data-tooltip="tooltip">
		<i class='material-icons greyIcon'>{{ icon }}</i>
	</a>
</template>
<script>
export default {
	props: ['tooltip', 'delay', 'position', 'href', 'icon'],

	data() {
		return {
			id: this.get_random_id()
		}
	},

	mounted() {
		if(this.tooltip && this.tooltip !== '') {
			$('#' + this.id).tooltip({delay: 50});
		}
	},

	methods: {
		get_random_id() {
			return Math.floor((1 + Math.random()) * 0x1000000000).toString(32)
		},
	},
}
</script>
