 <template>
 	<div :id="id" class="modal dismissible-modal modal-fixed-footer tall-modal wide-modal">
 		<div class="modal-content">
 			<div :class="withCard ? 'card' : ''">
 				<div :class="withCard ? 'card-content' : ''">
 					<slot name="header"></slot>
 					<slot name="content"></slot>
 				</div>
 			</div>

 		</div>
 		<div class="modal-footer">
 			<slot name="footer"></slot>
 		</div>
 	</div>
 </template>

 <script>
 export default {
 	props: ['id', 'withCard'],

 	data() {
 		return {
 			loading: true,
 		}
 	},
 }
 </script>
