<template>
	<li>
		<div class="collapsible-header">
			<slot name="title"></slot>
		</div>
		<div class="collapsible-body">
			<div class="row">
				<div class="col s12">
					<div class="card">
						<div class="card-content">
							<slot name="content"></slot>
						</div>
					</div>
				</div>
			</div>
		</div>
	</li>
</template>

<script>
export default {

}
</script>
