 <template>
 	<a class="waves-effect waves-light btn" v-on:click="clicked" v-if="!loading">
 		<slot></slot>
 	</a>

 	<a class="waves-effect waves-light btn" v-bind:style="{width: width + 'px', pointerEvents: 'none'}" v-else>
 		<div class="preloader-wrapper for-button active">
 			<div class="spinner-layer spinner-white-only">
 				<div class="circle-clipper left">
 					<div class="circle"></div>
 				</div>
 				<div class="gap-patch">
 					<div class="circle"></div>
 				</div>
 				<div class="circle-clipper right">
 					<div class="circle"></div>
 				</div>
 			</div>
 		</div>
 	</a>
 </template>

 <script>
 export default {
 	props: ['action', 'listen'],

 	data() {
 		return {
 			loading: false,
 			width: 0,
 		}
 	},

 	methods: {
 		clicked() {
 			this.width = this.$el.clientWidth;
 			this.loading = true;
 			if(this.action) {
 				this.action();
 			}
 		}
 	},

 	created() {
 		Event.listen(this.listen, () => {
 			this.loading = false;
 		});
 	}
 }
 </script>
