<style scoped>
#login-card {
	width: 50vw;
	margin-left: 25vw;
	margin-top: 40px;
}

.tabs {
	margin-bottom: 10px;
}
</style>
<template>
	<div class="card center" id="login-card">
		<div class="card-content">
			<div class="row">
				<ul class="tabs">
					<li class="tab col s6"><a class="active" href="#login">Login</a></li>
					<li class="tab col s6"><a href="#register">Register</a></li>
				</ul>
				<div id="login" class="col s12">
					<div class="row">
						<div class="input-field col s12">
							<input id="login_username" type="text" v-model="login_username">
							<label for="login_username">Username</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<input id="login_password" type="password" v-model="login_password">
							<label for="login_password">Password</label>
						</div>
					</div>
					<div class="row center">
						<loadable-button :action="login" listen="login-responded">Login</loadable-button>
					</div>
				</div>
				<div id="register" class="col s12">
					<div class="row">
						<div class="input-field col s12">
							<input id="register_username" type="text" v-model="register_username">
							<label for="register_username">Username</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<input id="register_password" type="password" v-model="register_password">
							<label for="register_password">Password</label>
						</div>
					</div>
					<div class="row" v-if="user_type === 1">
						<div class="input-field col s12">
							<input id="register_course_code" type="text" v-model="register_course_code">
							<label for="register_course_code">Course Code</label>
						</div>
					</div>
					<div class="row">
						<div class="col s6">
							<input name="user_type_group" type="radio" id="student-radio-button" v-model="user_type" :value="1" />
							<label for="student-radio-button">Student</label>
						</div>
						<div class="col s6">
							<input name="user_type_group" type="radio" id="teacher-radio-button" v-model="user_type" :value="2" />
							<label for="teacher-radio-button">Teacher</label>
						</div>
					</div>
					<div class="row center">
						<loadable-button :action="register" listen="register-responded">Register</loadable-button>
					</div>
				</div>

			</div>
		</div>
	</div>
</template>
<script>
export default {
	data() {
		return {
			login_username: '',
			login_password: '',
			register_username: '',
			register_password: '',
			register_course_code: '',
			user_type: 1
		}
	},

	methods: {
		login() {
			axios.post('/login', {
				username: this.login_username,
				password: this.login_password
			}).then(
			(response) => {
				var response_message = response.data;

				if(response_message === 'REDIRECT_STUDENT') {
					window.location.replace('../student');
				} else if(response_message === 'REDIRECT_TEACHER') {
					window.location.replace('../teacher');
				}

				Event.fire('login-responded');
			},
			(error) => {
				Materialize.toast('Incorrect Credentials', 3000);
				Event.fire('login-responded');
			});
		},

		register() {
			axios.post('/register', {
				username: this.register_username,
				password: this.register_password,
				user_type: this.user_type,
				course_code: this.register_course_code
			}).then(
			(response) => {
				var response_message = response.data;

				if(response_message === 'CLASS_NOT_FOUND') {
					Materialize.toast('Class Not Found', 3000);
				} else if(response_message === 'USERNAME_TAKEN') {
					Materialize.toast('Username Taken', 3000);
				} else if(response_message === 'PASSWORD_TOO_SHORT') {
					Materialize.toast('Password is too short', 3000);
				} else if(response_message === 'REDIRECT_STUDENT') {
					window.location.replace('../student');
				} else if(response_message === 'REDIRECT_TEACHER') {
					window.location.replace('../teacher');
				}
				Event.fire('register-responded');
			},
			(error) => {
				Event.fire('register-responded');

			});
		},
	},

	watch: {
			register_course_code() {
				this.register_course_code = this.register_course_code.toUpperCase();
			}
		}
}
</script>
