 <template>
 	<div style="margin-bottom: 10px">
 		<nav class="z-depth-0">
 			<div class="nav-wrapper">
 				<ul class="right">
 					<li><span id="school-name">Course Code: {{ courseCode }}</span></li>
 					<li><a class="waves-effect waves-light btn modal-trigger" @click="logout">Logout</a></li>
 				</ul>
 			</div>
 		</nav>
 	</div>
 </template>

 <script>
 export default {
 	props: ['courseCode'],

 	methods: {
 		logout() {
 			axios.post('/logout').then(
 				(response) => {
 					window.location.replace("../");
 				},
 				(error) => {
 					Materialize.toast('Error logging out', 3000);
 				});
 		}
 	}
 }
 </script>
