<template>
	<large-modal id="new-quiz-modal":with-card="true">
		<div slot="header">
			<h4>New Quiz</h4>
		</div>
		<div slot="content">
			<div class = "row">
				<div class="input-field col s12">
					<dropdown-select emit="quiz-type-selected" :options="quiz_types" label="Quiz Type" default-option="Select Quiz Type" :selected-val="quiz_type"></dropdown-select>
				</div>
			</div>
		</div>
		<div slot="footer">
			<loadable-button :action="create_new_quiz" listen="new-quiz-responded">Create</loadable-button>
			<flat-button>Close</flat-button>
		</div>
	</large-modal>
</template>
<script>
export default {
	props: ['courseId'],

	data() {
		return {
			quiz_type: null
		}
	},

	created() {
		Event.listen('quiz-type-selected', (val) => { this.quiz_type = val });
	},

	methods: {
		create_new_quiz() {
			axios.put('/quizzes/' + this.courseId, {
				quiz_type: this.quiz_type,
			}).then((response) => {
				Materialize.toast('Quiz Created', 3000);
				$('#new-quiz-modal').modal('close');
				Event.fire('new-quiz-created');
				Event.fire('new-quiz-responded');
			},
			(error) => {
				Materialize.toast('Error Creating Quiz', 3000);
				Event.fire('new-quiz-responded');
			});
		},
	},

	computed: {
		quiz_types() {
			return [{ name: 'Addition', value: 1 }, { name: 'Subtraction', value: 2 }];
		}
	}
}
</script>
