 <template>
 	<a class="waves-effect waves-light btn " v-on:click="clicked">
 		<slot></slot>
 	</a>
 </template>

 <script>
 export default {
 	props: ['action', 'className'],

 	methods: {
 		clicked() {
 			if(this.action) {
 				this.action();
 			}
 		}
 	}
 }
 </script>
