<template>
	<large-modal id="quiz-modal" :with-card="true">
		<div slot="header">
			<h4>
				Question {{ question_counter }}
				<green-click-icon icon="chevron_right" class="secondary-content" :action="increase_question_index"></green-click-icon>
				<green-click-icon icon="chevron_left" class="secondary-content" :action="decrease_question_index"></green-click-icon>
			</h4>
		</div>
		<div slot="content">
			<loading v-if="loading"></loading>
			<div class="row" v-else>
				<div class="col s6" style="text-align: right; margin-top: 26.5px">
					{{ current_question }}
				</div>
				<div class="col s6 input-field">
					<input id="response" type="text" v-model="responses[current_question_index].response">
					<label for="response">Response</label>
				</div>
			</div>
		</div>

		<div slot="footer">
			<flat-button>Close</flat-button>
		</div>
	</large-modal>
</template>
<script>
export default {
    props: ['userId'],

    data() {
        return {
            loading: true,
            quiz_id: null,
            current_question_index: 0,
            quiz: {},
            responses: []
        };
    },

    mounted() {
        Event.listen('set-quiz-id', quiz_id => {
            this.quiz_id = quiz_id;
            this.get_quiz();
        });
    },

    methods: {
        get_quiz() {
            this.loading = true;

            axios.get(`/quiz/${this.quiz_id}`).then(
                response => {
                    this.loading = false;
                    this.quiz = response.data;

                    this.responses = [];
                    this.quiz.quiz_questions.forEach(question => {
                        var response = question.quiz_responses.find(
                            response => response.user_id == this.userId
                        );
                        this.responses.push({
                            question_id: question.id,
                            response: response ? response.response : null
                        });
                    });
                },
                error => {
                    Materialize.toast('Error Retrieving Quiz', 3000);
                }
            );
        },

        decrease_question_index() {
            var question_id = this.responses[this.current_question_index]
                .question_id;
            var response = this.responses[this.current_question_index].response;

            this.current_question_index = Math.max(
                0,
                this.current_question_index - 1
            );
            this.$nextTick(() => Materialize.updateTextFields());

            axios.post(
                `/quizresponse/${this.quiz_id}/${this.userId}/${question_id}`,
                {
                    response: response
                }
            );
        },

        increase_question_index() {
            var question_id = this.responses[this.current_question_index]
                .question_id;
            var response = this.responses[this.current_question_index].response;

            this.current_question_index = Math.min(
                this.quiz.quiz_questions.length - 1,
                this.current_question_index + 1
            );
            this.$nextTick(() => Materialize.updateTextFields());

            axios.post(
                `/quizresponse/${this.quiz_id}/${this.userId}/${question_id}`,
                {
                    response: response
                }
            );
        }
    },

    computed: {
        current_question() {
            if (typeof this.quiz.quiz_questions != 'undefined')
                return this.quiz.quiz_questions[this.current_question_index]
                    .question;
        },

        current_response() {
            if (
                typeof this.responses[this.current_question_index] !=
                'undefined'
            )
                return this.responses[this.current_question_index].response;
        },

        question_counter() {
            if (typeof this.quiz.quiz_questions != 'undefined')
                return `${this.current_question_index + 1} / ${
                    this.quiz.quiz_questions.length
                }`;
        }
    }
};
</script>
