<template>
	<div>
		<h5>Questions</h5>
		<div class="row">
			<template v-for="question in real_quiz.quiz_questions">
				<div class="row">
					<div class="col s6">
						{{ question.question }}
					</div>
					<div class="col s6">
						{{ question.answer }}
					</div>
				</div>
			</template>
		</div>
		<h5>Results</h5>
		<div class="row">
			<template v-for="student in students">
				<div class="row">
					<div class="col s3">
						{{ get_student_name(student) }}
					</div>
					<div class="col s2">
						{{ get_student_quiz_result(student.id) }}
					</div>
					<div class="col s7">
						<div class="row">
							<template v-for="question in real_quiz.quiz_questions">
								<div class="col s1">
									<green-icon icon="done" v-if="find_correct_answer(question, student.id) == 1"></green-icon>
									<red-icon icon="clear" :tooltip="get_wrong_answer_tooltip(question, student.id)" v-else-if="find_correct_answer(question, student.id) == 2"></red-icon>
									<grey-icon icon="fiber_manual_record" v-else-if="find_correct_answer(question, student.id) == 3"></grey-icon>
								</div>
							</template>
						</div>
					</div>
				</div>
			</template>
		</div>
	</div>
</template>
<script>
export default {
    props: ['quiz', 'students'],

    data() {
        return {
            real_quiz: {}
        };
    },

    mounted() {
        this.real_quiz = $.extend({}, this.quiz);
        console.log('mounting');
        Echo.channel('quiz').listen('ResponseSent', response => {
            this.real_quiz = response.quiz;
            console.log('updated');
        });
    },

    methods: {
        get_student_name(student) {
            if (student.first_name && student.last_name)
                return `${student.first_name} ${student.last_name}`;

            return student.username;
        },

        get_student_quiz_result(student_id) {
            if (this.real_quiz.quiz_results) {
                var result = this.real_quiz.quiz_results.find(
                    quiz_result => quiz_result.user_id === student_id
                );

                if (result)
                    return `${result.correct} / ${result.total_questions}`;
            }

            return 'Not Submitted';
        },

        find_correct_answer(question, student_id) {
            var response = question.quiz_responses.find(response => {
                return response.user_id == student_id;
            });

            if (typeof response == 'undefined') return 3;

            if (response.correct) return 1;

            return 2;
        },

        get_wrong_answer_tooltip(question, student_id) {
            var response = question.quiz_responses.find(response => {
                return response.user_id == student_id;
            });

            return (
                response.response +
                '<br/>' +
                this.get_reasons_string(response.reasons)
            );
        },

        get_reasons_string(reasons) {
            var reason_arr = [
                'None',
                'Miscalculated Column 1',
                'Miscalculated Column 2',
                'Miscalculated Column 3',
                'Miscalculated Column 4',
                'Miscalculated Column 5',
                'Did not answer',
                'Did not add all columns',
                'Forgot to carry from column 1',
                'Forgot to carry from column 2',
                'Forgot to carry from column 3',
                'Forgot to carry from column 4',
                'Forgot to carry from column 5',
                'Forgot to add the carried one',
                'Carried the one needlessly',
                'Unknown',
                'Forgot to borrow the one',
                'Forgot to borrow from column 2',
                'Forgot to borrow from column 3',
                'Forgot to borrow from column 4',
                'Forgot to borrow from column 5',
                'Forgot to borrow from column 6',
                'Borrowed the one needlessly'
            ];
            var final_str = JSON.parse(reasons).reduce(
                (current_str, reason) => {
                    console.log(reason);
                    if (!reason) return ' or<br/>';
                    var reason_string = reason.reduce(
                        (current_substr, subreason) => {
                            return (
                                current_substr + reason_arr[subreason] + ' and '
                            );
                        },
                        ''
                    );

                    return (
                        current_str +
                        reason_string.substring(0, reason_string.length - 5) +
                        ' or<br/>'
                    );
                },
                ''
            );

            return final_str.substring(0, final_str.length - 8);
        }
    }
};
</script>
