<template>
	<loading v-if="loading"></loading>
	<div v-else>
		<ul class="collection with-header collapsible z-depth-0" id="quiz-list" style="width: 100%">
			<li class="collection-header">
				<h4>
					Quizzes
					<green-click-icon icon="add" class="secondary-content modal-trigger" data-position="right" tooltip="Add Quiz" href="#new-quiz-modal"></green-click-icon>
				</h4>
			</li>
			<template v-for="quiz in quizzes">
				<list-item>
					<div slot="title" class="list-item">
						{{ get_quiz_name(quiz) }}
					</div>
					<div slot="content">
						<quiz :quiz="quiz" :students="students"></quiz>
					</div>
				</list-item>
			</template>
		</ul>
	</div>
</template>
<script>
export default {
	props: ['courseId'],

	data() {
		return {
			quizzes_loading: true,
			students_loading: true,
			quizzes: [],
			students: [],
		}
	},

	mounted() {
		this.get_quizzes();
		this.get_students();
		Event.listen('new-quiz-created', () => this.get_quizzes());
	},

	methods: {
		get_quizzes() {
			this.quizzes_loading = true;
			axios.get(`/quizzes/${this.courseId}`).then(
				(response) => {
					this.quizzes = response.data;
					this.quizzes_loading = false;

					this.$nextTick(() => {
						$('.collapsible').collapsible();
					});
				},
				(error) => {
					Materialize.toast('Error Retrieving Quizzes', 3000);
				});
		},

		get_students() {
			this.students_loading = true
			axios.get(`/students/${this.courseId}`).then(
				(response) => {
					this.students = response.data;
					this.students_loading = false;

					this.$nextTick(() => {
						$('.collapsible').collapsible();
					});
				},
				(error) => {
					Materialize.toast('Error Retrieving Students', 3000);
				});
		},

		get_quiz_name(quiz) {
			var quiz_type = ['', 'Addition', 'Subtraction'][quiz.quiz_type];

			return `${quiz_type} ${quiz.number}`;
		}
	},

	computed: {
		loading() {
			return this.quizzes_loading || this.student_loading;
		}
	}
}
</script>
