<template>
	<a :id="id" :data-position="position" :data-tooltip="tooltip">
		<i class='material-icons redIcon'>{{ icon }}</i>
	</a>
</template>
<script>
export default {
	props: ['tooltip', 'delay', 'position', 'href', 'icon'],

	data() {
		return {
			id: this.get_random_id()
		}
	},

	mounted() {
		this.set_up_tooltip();
	},

	methods: {
		get_random_id() {
			return Math.floor((1 + Math.random()) * 0x1000000000).toString(32)
		},

		set_up_tooltip() {
			if(this.tooltip && this.tooltip !== '') {
				this.$nextTick(() => $('#' + this.id).tooltip('remove'));
				this.$nextTick(() => $('#' + this.id).tooltip({delay: 50, html: true}));
			}
		}
	},

	watch: {
		tooltip() {
			this.set_up_tooltip();
		}
	}
}
</script>
