<template>
	<loading v-if="loading"></loading>
	<div v-else>
		<ul class="collection with-header collapsible z-depth-0" id="leaders-list" style="width: 100%">
			<li class="collection-header">
				<h4>Students</h4>
			</li>
			<template v-for="student in students">
				<list-item>
					<div slot="title" class="list-item">
						{{ get_student_name(student) }}
					</div>
					<div slot="content">
						<student :student="student"></student>
					</div>
				</list-item>
			</template>
		</ul>
	</div>
</template>
<script>
export default {
	props: ['courseId'],

	data() {
		return {
			loading: true,
			students: [],
		}
	},

	mounted() {
		this.get_students();
	},

	methods: {
		get_students() {
			this.loading = true;
			axios.get(`/students/${this.courseId}`).then(
				(response) => {
					this.students = response.data;
					this.loading = false;

					this.$nextTick(() => {
						$('.collapsible').collapsible();
					});
				},
				(error) => {
					Materialize.toast('Error Retrieving Students', 3000);
				});
		},

		get_student_name(student) {
			if(student.first_name && student.last_name)
				return `${student.first_name} ${student.last_name}`;

			return student.username;
		}
	}
}
</script>
