<template>
	<loading v-if="loading"></loading>
	<div v-else>
		<ul class="collection with-header collapsible z-depth-0" id="leaders-list" style="width: 100%">
			<li class="collection-header">
				<h4>Quizzes</h4>
			</li>
			<template v-for="quiz in quizzes">
				<list-item>
					<div slot="title" class="list-item">
						{{ get_quiz_name(quiz) }}
					</div>
					<div slot="content">
						<student-quiz :quiz="quiz" :user-id="userId"></student-quiz>
					</div>
				</list-item>
			</template>
		</ul>
	</div>
</template>
<script>
export default {
    props: ['courseId', 'userId'],

    data() {
        return {
            loading: true,
            quizzes: []
        };
    },

    mounted() {
        this.get_quizzes();
        Event.listen('quiz-submitted', () => this.get_quizzes());
    },

    methods: {
        get_quizzes() {
            this.loading = true;
            axios.get(`student_quizzes/${this.courseId}/${this.userId}`).then(
                response => {
                    this.loading = false;
                    this.quizzes = response.data;
                    this.$nextTick(() => {
                        $('.collapsible').collapsible();
                    });
                },
                error => {
                    Materialize.toast('Error Retrieving Quizzes', 3000);
                }
            );
        },

        get_quiz_name(quiz) {
            var quiz_type = ['', 'Addition', 'Subtraction'][quiz.quiz_type];

            return `${quiz_type} ${quiz.number}`;
        }
    }
};
</script>
