<template>
	<div class="row" v-if="quiz.quiz_results.length === 0">
		<div class="col s12">
			<h5 v-if="student_responses.length == 0">Not yet taken</h5>
			<h5 v-else>{{ `${student_responses.length} / ${quiz.quiz_questions.length}` }} Completed</h5>
		</div>
		<div class="col s12 center">
			<primary-button :action="() => open_quiz_modal(quiz.id)">{{ student_responses.length == 0 ? 'Start' : 'Continue' }}</primary-button>
			<loadable-button :action="submit_quiz" listen="submit-quiz-responded">Submit</loadable-button>
		</div>
	</div>
	<div class="row" v-else>
		<h5>Score: {{ quiz.quiz_results[0].correct }} / {{ quiz.quiz_results[0].total_questions }}</h5>
		<template v-for="(question, key) in quiz.quiz_questions">
			<div class="row" :key="key">
				<div class="col s4">
					{{ question.question }}
				</div>
				<div class="col s4">
					{{ question.quiz_responses && question.quiz_responses.length > 0 ? question.quiz_responses[0].response : '' }}
				</div>
				<div class="col s4">
					<green-icon icon="done" v-if="question.quiz_responses && question.quiz_responses.length > 0 && question.quiz_responses[0].correct"></green-icon>
					<red-icon icon="clear" v-else></red-icon>
				</div>
			</div>
		</template>
	</div>
</template>
<script>
export default {
    props: ['quiz', 'result', 'userId'],

    methods: {
        open_quiz_modal(quiz_id) {
            $('#quiz-modal').modal('open');
            Event.fire('set-quiz-id', quiz_id);
        },

        submit_quiz() {
            axios
                .post(`/quiz/${this.quiz.id}/${this.userId}`, {
                    responses: this.responses
                })
                .then(
                    response => {
                        Event.fire('submit-quiz-responded');
                        $('#quiz-modal').modal('close');
                        Event.fire('quiz-submitted');
                    },
                    error => {
                        Materialize.toast('Error Submitting Quiz', 3000);
                        Event.fire('submit-quiz-responded');
                    }
                );
        }
    },

    computed: {
        student_responses() {
            var student_responses = [];

            this.quiz.quiz_questions.forEach(question => {
                question.quiz_responses.forEach(response => {
                    if (response.user_id == this.userId) {
                        student_responses.push(response);
                    }
                });
            });
            return student_responses;
        }
    }
};
</script>
