<template>
	<div>
		<h5>Student Info</h5>
		<div class="row">
			<div class="col s12">
				Username: {{ student.username }}
			</div>
		</div>
	</div>
</template>
<script>
export default {
    props: ['student']
};
</script>
