 .topSpace {
 	margin-top: 10px;
 }

 .modalLoader {
 	text-align: center;
 	transform: translateY(200%);
 	margin-bottom: 10%;
 }

 .modal-loader-top {
 	margin-top: 5%;
 	text-align: center;
 	/*transform: translateY(40%);*/
 }

 .tall-modal {
 	min-height: 85%;
 	margin-top: 0px !important;
 }

 .wide-modal {
 	width: 65%;
 }

 .inputSubtitle {
 	font-size: 12px;
 	margin-top: -15px;
 	margin-bottom: 10px;
 }

 .connector {
 	bottom: 0;
 }

 .greenClickIcon {
 	color: #227574;
 }

 .greenClickIcon:hover {
 	color: #2e9e9c;
 	cursor: pointer;
 }

 .greenIcon {
 	color: #227574
 }

 .greyIcon {
 	color: grey
 }

 .redClickIcon {
 	color: #cc0000
 }

 .redClickIcon:hover {
 	color: #ff0000;
 	cursor: pointer;
 }

 .redIcon {
 	color: #cc0000
 }

 .inlineConnector {
 	text-align: center;
 	margin-top: 15px;
 }

 .centerIcon {
 	vertical-align: -8px;
 	margin-left: 7px;
 }

 a.leftModalFooterButton {
 	float: left !important;
 	margin-left: 16px !important;
 }

 a.rightModalFooterButton {
 	margin-right: 16px !important;
 }

 .hint {
 	vertical-align: -3px;
 	margin-left: 7px;
 	color: #227574;
 }

 .picker__date-display { background-color: #2e9e9c; }

 .row .col.s17 {
 	width: 14.2857142857143%;
 	margin-left: auto;
 	left: auto;
 	right: auto;
 }

 .row .col.s511 {
 	width: 45.4545454545%;
 	margin-left: auto;
 	left: auto;
 	right: auto;
 }

 .col.s512 {
 	width: 20%;
 	margin-left: auto;
 	left: auto;
 	right: auto;
 }

 .row .col.s38 {
 	width: 37.5%;
 	margin-left: auto;
 	left: auto;
 	right: auto;
 }

 .contentTechniqueRow {
 	width: 100%
 }

 .editContentTechniqueRow {
 	width: 100%
 }

 .sessionRow {
 	width: 100%
 }

 .collapsible .card {
 	margin-top: 20px;
 	margin-bottom: 0px;
 	padding: 0px;
 }

 .collapsible .card-content {
 	margin-top: -10px;
 	padding: 5px 20px;
 }

 .leaderDiv {
 	margin: 0;
 	top: 0;
 }

 .observationQuestion {
 	float: right;
 }

 .questionRow {
 	margin-top: 2px;
 }

 .selfComment {
 	float: right;
 	background: rgba(0, 0, 0, 0.20);
 	border-radius: 3px;
 	padding-right: 10px;
 	padding-left: 10px;
 	padding-bottom: 5px;
 	padding-top: 5px;
 	max-width: 70%;
 	margin-right: 10px;
 }

 .otherComment {
 	float: left;
 	background: #227574;
 	border-radius: 3px;
 	padding-right: 10px;
 	padding-left: 10px;
 	padding-bottom: 5px;
 	padding-top: 5px;
 	color: white;
 	max-width: 70%;
 	margin: 0 auto;
 }

 .otherCommentSubtitle {
 	font-size: 12px;
 	margin-left: 10px;
 	margin-bottom: 0px;
 	/*padding-bottom: -50px;*/
 }

 .tinyRow {
 	margin-left: auto;
 	margin-right: auto;
 	margin-bottom: 0px;
 	margin-top: 0px;
 }

 .smallRow {
 	margin-left: auto;
 	margin-right: auto;
 	margin-bottom: 3px;
 	margin-top: 0px;
 }

 .mediumRow {
 	margin-left: auto;
 	margin-right: auto;
 	margin-bottom: 15px;
 }

 .commentDiv {
 	max-height: 10000px;
	/*overflow-y: scroll;
	overflow-y: -moz-scrollbars-vertical;*/
	border-radius: 3px;
	padding-top: 10px;
}

#reportAProblemButton {
	position: fixed;
	bottom: 20px;
	margin-left: 26px;
}

.searchLabel {
	font-size: 14px;
	color: black
}

.inputSubtitle {
	font-size: 12px;
	margin-top: -10px;
	margin-bottom: 10px;
}

#notificationBar {
	position: fixed;
	bottom: 0;
	width: calc(25% - 22px);
	z-index: 1000;
	padding-top: 0px;
	overflow: visible;
	display: flex
}

#notificationAnchor {
	width: 100%;
	border-radius: 3px 3px 0px 0px;

}

.notificationBadge {
	left: -17px;
	top: -17px;
	width: 34px;
	height: 34px;
	position: absolute;
	background-color: #e60000;
	color: white;
	text-align: center;
	border-radius: 50%;
	line-height: 238%;
	display: none;
	overflow: visible
}

.notification-dropdown-content {
	max-height: calc(100vh - 65px);
	font-size: 12px;
}

.notification-dropdown-content li:hover, .dropdown-content li.active, .dropdown-content li.selected {
	background-color: white;
}

.newNotification {
	background-color: #eee;
}

li.newNotification :hover {
	background-color: #eee;
}

.pastNotification:hover {
	background-color: #eee !important;
}

#notificationList {
	font-size: 12px
}

#announcementSlides {
	background-color: white
}

#calendarHeader {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 0px;
	border-top: 1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
	padding: 5px
}

.calendarDayHeaderRow {
	text-align: center;
	margin: 0;
	border: 1px solid #e0e0e0
}

.calendarDayHeaderLabel {
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}

.changeMonthMarker {
	margin-top: 10px;
}

.dayBox {
	min-height: 120px;
	border-right: 1px solid #e0e0e0;
	text-align: left;
	padding: 3px !important;
	padding-top: 3px !important;
	padding-right: 5px !important;
	padding-left: 5px !important;
}

.inMonthLabel {
	text-align: right;
	color: black;
	padding-top: 3px;
	padding-right: 2px;
}

.eventBox {
	background-color: #227574;
	color: white;
	width: 100%;
	border-radius: 2px;
	text-align: left;
	padding: 1px 6px;
	margin-bottom: 2px;
	font-size: 13px;
}

.otherEventBox {
	background-color: #cccccc;
	color: black;
	width: 100%;
	border-radius: 2px;
	text-align: left;
	padding: 1px 6px;
	margin-bottom: 2px;
	font-size: 13px;
}

.outMonthBox {
	min-height: 120px;
	border-right: 1px solid #e0e0e0;
	text-align: left;
	padding-top: 3px !important;
	padding-right: 5px !important;
	padding-left: 5px !important;
}

.outMonthLabel {
	text-align: right;
	color: #e0e0e0;
	padding-top: 3px;
	padding-right: 2px;
}

.endBox {
	width: 20.471429%;
}

.calendarBox {
	margin-top: -1px;
	margin-bottom: -1px;
	border-left: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	margin-right: 0px;
}

.greyBox {
	background-color: rgba(0, 0, 0, .02);
}

.calendarRow {
	min-height: 120px;
	max-height: 10000px;
	margin-bottom: 0px;
	border-bottom: 1px solid #e0e0e0;
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;
}

div.inMonthLabel:hover {
	color: gray;
}

div.inMonthLabelNoClick {
	text-align: right;
	color: black;
	padding-top: 3px;
	padding-right: 2px;
}

.monthDayClick {
	color: black;
	cursor: pointer;
}

.monthDayClick:hover {
	color: gray;
}

.noSeparator {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1px;
}

#announcementSlides {
	margin-top: -10px;
}

.announcementListItem {
	background-color: white;
	padding-left: 10px;
	padding-right: 10px;
}

.announcementHeader {
	margin-bottom: 15px
}

.announcementMessage {
	margin-top: 15px;
	padding-left: 10px;
	padding-right: 10px;
}

.table-of-contents a.active {
	font-weight: 500;
	padding-left: 18px;
	border-left: 2px solid #227574;
}

.table-of-contents a:hover {
	color: #a8a8a8;
	padding-left: 19px;
	border-left: 1px solid #2e9e9c;
}

input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px white inset;
}

#school-name {
	color: white;
}

@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/MaterialIcons.woff2') format('woff2');
}

@-moz-document url-prefix() {
	.calendarIcon {
		margin-top: -23px;
	}
}

.tabs .tab a:hover {
    color: gray;
}

#slide1 {
	background-color: #003857;
	font-weight: 500;
	min-height: calc(100vh - 64px);
    text-align: center;
}

.bold {
	font-weight: 500;
}

#kudo-logo {
	margin: 14px 20px;
}

.col .s24 {
	width: 20%;
}
